:root{
    --Color-backgroundPrimary: #2d572b;
    --Color-fontPrimary: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    text-align: center;
    background-color: var(--Color-backgroundPrimary);
    color: var(--Color-fontPrimary);
    padding: 18px;
}

footer .container{
    max-width: 1080px;
    margin: 0 auto;
}

footer .desc1 h2{
    font-family: 'Playfair Display', serif;
}

footer .desc1 p{
    padding-block: 15px ;
}

footer .desc2{
    border-top: 1px solid var(--Color-fontPrimary);
    display: flex;
    justify-content: space-between;
}

footer .desc2 div {
    padding-top: 10px;
}

